<ion-view view-title="Pagar" class="pagar">
    <ion-tabs class="tabs-striped tabs-top">

        <ion-tab title="Cercanas" ui-sref="index.pagar.cercanos" nav-direction="forward">
            <ion-nav-view name="cercanos" class="pagarCercanos"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Recientes" ui-sref="index.pagar.recientes" nav-direction="forward">
            <ion-nav-view name="recientes" class="pagarRecientes"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Favoritas" ui-sref="index.pagar.favoritos" nav-direction="forward">
            <ion-nav-view name="favoritos" class="pagarFavoritos"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Buscar" ui-sref="index.pagar.buscar" nav-direction="forward">
            <ion-nav-view name="buscar" class="pagarBuscar"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
