<ion-view view-title="Historico">
    <ion-nav-title>
       <p class="fsSemiSmall text-right padding-top"><strong>{{myUser.Codigo_comercio}}</strong><br>Codigo de comercio</p>
    </ion-nav-title>
    <ion-nav-buttons side="secondary">
        <a ui-sref="qr({id: myUser.Id})" class="button button-icon icon icon-qr positive"></a>
    </ion-nav-buttons>
    <ion-content>
        <div ng-if="!pedidos.length && sinDatos" class="card">
          <div class="item item-text-wrap positive">
            <i class="ion-close-circled positive"></i> No se han encontrado resultados.
          </div>
        </div>
        <ion-spinner ng-if="cargando"></ion-spinner>
       <ion-list class="listEmpresas" style=" height: 100%;overflow: auto;" ng-show="!cargando">
          <ion-item ng-class="pedido.valoracion > 0 ? '' : 'energized'" ng-repeat="pedido in pedidos">
            <div class="row">
              <div class="col col-67"><h3><strong>{{pedido.Usuario.Razon_social}}</strong></h3></div>
              <div class="col text-right distanciaEmpresaMap">{{ pedido.Fecha | date : format : fullDate }}</div>
            </div>
            <div class="row">
              <div class="col col-67">
                Importe: <strong>{{pedido.Importe}}{{pedido.valoracion}}</strong><br>
                Ref: <strong>{{pedido.Numero}}</strong><br>
              </div>
              <div class="col text-right">
                <a nav-direction="forward" ui-sref="index.cobrarVerPedido({id:pedido.Id})" class="button button-outline button-positive">Ver</a>
              </div>
            </div>
          </ion-item>
        </ion-list>
        <ion-infinite-scroll  ng-show="!cargando"
            ng-if="cargarMasDatosPendientes"
            distance="0%"
            on-infinite="getHistorico()"
        </ion-infinite-scroll>
    </ion-content>
</ion-view>
